<!DOCTYPE html>
<html>
  <head>
    <title>Plutus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  </head>

  <body>
    <h2>Search News Summary!</h2>
    <p>Enter ticker here:</p>
    <input id="news" type="text">
    <button id="submit_news">Submit</button>
    <div id="news_result"></div>
    <div id="news_url"></div>

    <h2>Visualize Stock Performance</h2>
    <p>Enter ticker here:</p>
    <input id="performance" type="text">
    <button id="submit_performance">Submit</button>


  </body>



</html>
